// p, h1, h2, h3, h4, h5, h6, li, a, th, td, span {
//     text-edge: cap alphabetic;
//     text-box-edge: cap alphabetic;
//     leading-trim: both;
//     text-box-trim: both;
// }

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;
}

h3, h4 {
    font-family: $headings-font-family;
}

h2, h3 {
    margin-bottom: $spacing5;
}

section > .container > h2,
section > .container > h3 {
    margin-bottom: $spacing5;
}
