@import '../config.scss';

header#document-header {
    background-color: $header-background-color;
    // left: 0;
    // position: fixed;
    // top: 0;
    width: 100%;
    a {
        text-decoration: none;
    }
    ul {
        list-style: none;
    }
    .logo img {
        display: block;
        width: px2rem(50);
    }
    button[aria-controls="navigation"] {
        @include reset-btn;
        @include icon('icon-menu');
        &::before {
            font-size: 20px;
        }
    }
    @include media-breakpoint-down(md) {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: $color-alt;
        nav {
            align-items: center;
            display: flex;
            gap: $spacing0;
            justify-content: center;
            > * {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            .logo {
                @include icon('icon-home');
                img {
                    display: none;
                }
                & + a {
                    @include icon('icon-debate');
                }
            }

        }
        ul#navigation {
            display: none;
        }
    }
    @include media-breakpoint-up(md) {
        button[aria-controls="navigation"],
        .logo + a,
        .logo span {
            display: none;
        }
        nav,
        ul#navigation {
            align-items: center;
            display: flex;
            gap: $spacing0;
        }
        nav {
            justify-content: space-between;
        }
    }
}