@import '../config.scss';

*,
*::before,
*::after {
    box-sizing: border-box
}

body {
    background: $body-background-color;
    color: $body-color;
    font-family: $body-font-family;
    @media (prefers-reduced-motion: reduce) {
        * {
            transition-duration: 0s !important;
        }
    }
}

.container {
    max-width: $grid-max-width;
    padding-left: half($grid-gutter-sm);
    padding-right: half($grid-gutter-sm);
    @include media-breakpoint-up(md) {
        padding-left: $grid-gutter-sm;
        padding-right: $grid-gutter-sm;
    }
}

ul, ol {
    padding-left: 0;
    list-style-position: inside;
    > li > p {
        display: inline;
    }
}