@import '../config.scss';

*,
*::before,
*::after {
    box-sizing: border-box
}

body {
    background: $body-background-color;
    color: $body-color;
    font-family: $body-font-family;
    padding-bottom: px2rem(80);
    @media (prefers-reduced-motion: reduce) {
        * {
            transition-duration: 0s !important;
        }
    }
}

.container {
    max-width: $grid-max-width;
    padding-left: half($grid-gutter-sm);
    padding-right: half($grid-gutter-sm);
    @include media-breakpoint-up(md) {
        padding-left: $grid-gutter-sm;
        padding-right: $grid-gutter-sm;
    }
}

p {
    margin: 0;
}

ul, ol {
    padding-left: 0;
    list-style-position: inside;
    > li > p {
        display: inline;
    }
}

section + section {
    margin-top: $spacing5;
    @include media-breakpoint-up(md) {
        margin-top: $spacing6;
    }
}
input{
    width: 100%;
    padding: $spacing2;
    border: none;
   
}


input[type="submit"]{
    border-radius: $border-radius;
    background-color: $body-color;
    color: $color-alt;
    border-radius: 50px;
    cursor: pointer;
    &:hover{
        background-color: $dark-75;
        transition: background-color 0.05s ease-in-out ;
    }
    
}

.block-inline{
    display: ruby;
    margin: auto;
}

a{
    color: $body-color;
    &:hover{
        color: $dark-75;
    }
    &:active{
        color: $dark-50;
    }
}


form .field{
        position: relative;
        input{
            border-radius: $border-radius;
            border: 2px solid $dark-50;
            ::placeholder{
                color: $dark-50;
            }
            &:focus{
                border-color: $body-background-color;
            }
        }
        label{
            margin-left: 30px;
            padding: 6px 8px;
            background-color: $body-background-color;
            position: absolute;
            top: 4px;
        }
    }

    input[type="checkbox"]{
        max-width: fit-content;
    }


