h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;
}

h3, h4 {
    font-family: $headings-font-family;
}

section > .container > h2, 
section > .container > h3 {
    margin-bottom: $spacing5;
}
