<main class="user__profile">

<header class="hero">
  <div class="container">
    <img src="<%= @user.avatar %>" class="avatar">
    <h1>Profil de <%= @user.pseudonym %></h1>
  </div>
</header>

</main>
