<div id="<%= dom_id commentary %>">
  <p>
    <strong>Comment:</strong>
    <%= commentary.comment %>
  </p>

  <p>
    <strong>Is reported:</strong>
    <%= commentary.is_reported %>
  </p>

  <p>
    <strong>Is masked:</strong>
    <%= commentary.is_masked %>
  </p>

</div>
