<h1>Editing commentary</h1>

<%= render "form", commentary: @commentary %>

<br>

<div>
  <%= link_to "Show this commentary", @commentary %> |
  <%= link_to "Back to commentaries", commentaries_path %>
</div>
