<p style="color: green"><%= notice %></p>

<h1>Commentaries</h1>

<div id="commentaries">
  <% @commentaries.each do |commentary| %>
    <%= render commentary %>
    <p>
      <%= link_to "Show this commentary", commentary %>
    </p>
  <% end %>
</div>

<%= link_to "New commentary", new_commentary_path %>
