.category {
    &-2 {
        background-color: $culture;
        color: $culture-color;
    }
    &-1 {
        background-color: $ecology;
        color: $ecology-color;
    }
    &-7 {
        background-color: $economy;
        color: $economy-color;
    }
    &-3 {
        background-color: $politic;
        color: $politic-color;
    }
    &-4 {
        background-color: $sport;
        color: $sport-color;
    }
    &-6 {
        background-color: $society;
        color: $society-color;
    }
    &-5 {
        background-color: $science;
        color: $science-color;
    }
}
