@import '../config.scss';
.article {
    display: flex;
    flex-direction: column-reverse;
    height: 100%;
    justify-content: flex-end;
    position: relative;
    a {
        text-decoration: none;
    }
    .article-content {
        hgroup {
            z-index: 1;
            h3 a {
                @include stretched-link;
            }
        }
        .article-meta {
            align-items: center;
            display: flex;
            gap: $spacing1;
            a {
                position: relative;
                z-index: 3;
            }
            .mood,
            .category {
                padding: $spacing0 $spacing1;
                border-radius: 50px;
            }
            .mood {
                border: 1px solid $border-color;
            }
        }
        @include media-breakpoint-down(md) {
            padding: $spacing2;
        }
    }
}