@function px2rem($size) {
    $remSize: $size / 16;
    @return #{$remSize}rem;
}

@function pxr2rem($size) {
    $remSize: $size / 16 / 2;
    @return #{$remSize}rem;
}

@function half($size) {
    @return calc(#{$size} / 2);
}

@function col($quantity, $base: 12) {
    $quantity-on-base: $quantity / $base * 12;
    $width: calc( (100% + #{$grid-gutter}) / 12 * #{$quantity-on-base} - #{$grid-gutter} );
    @return #{$width};
}

@mixin icon($icon-name: '', $pseudo-element: before) {
    &::#{$pseudo-element}{
        content: map-get($icons, $icon-name);
        display: inline-block;
        font-family: 'Iconfont';
        font-style: normal;
        font-variant: normal;
        font-weight: normal;
        line-height: 1;
        speak: never;
        text-transform: none;
        vertical-align: middle;
    }
}

@mixin stretched-link($pseudo-element: after) {
    &::#{$pseudo-element} {
        bottom: 0;
        content: '';
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 999;
    }
}

@mixin reset-btn {
    background: none;
    border: 0;
    padding: 0;
}

@mixin grid($cols: 12, $breakpoint: false, $gap-y: $grid-gutter, $gap-x: $grid-gutter) {
    word-break: break-word;
    @if $breakpoint {
        @include media-breakpoint-up($breakpoint) {
            display: grid;
            grid-gap: $gap-y $gap-x;
            grid-template-columns: repeat($cols, 1fr);
        }
    }
    @else {
        display: grid;
        grid-gap: $gap-y $gap-x;
        grid-template-columns: repeat($cols, 1fr);
    }
    @include media-breakpoint-down(lg) {
        grid-gap: $grid-gutter-sm;
    }
}
