@import './dependencies/bootstrap-breakpoints.scss';
@import './utils.scss';

// Colors
$body-color: #3F3F3F;
$body-background-color: #FDFEFE;
$color-accent: #7876E4;
$color-alt: #F6FBFC;

$culture: #E4A7D7;
$ecology: #A4F3DC;
$economy: #FFDE69;
$politic: #EFB986;
$sport: #F6A8A8;
$society: #A4CDF3;
$science: #A7B6ED;

// Header
$header-background-color: $body-background-color;
$header-color: $body-color;

// Articles
$article-border-radius: 15px;
$article-height: px2rem(220);

// Breakpoints
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px, xxl: 1440px);

// Spacings
$spacing0: px2rem(8);
$spacing1: px2rem(16);
$spacing2: px2rem(32);
$spacing3: px2rem(40);
$spacing4: px2rem(48);
$spacing5: px2rem(56);
$spacing6: px2rem(120);

// Grid
$grid-gutter: px2rem(64);
$grid-max-width: px2rem(1980);
$grid-gutter-sm: px2rem(44);

// Icons
$icons: ();
$icons: map-merge($icons, ("icon-debate": "\ee00"));
$icons: map-merge($icons, ("icon-menu": "\ee01"));
$icons: map-merge($icons, ("icon-home": "\ee02"));