<!DOCTYPE html>
<html>
  <head>
    <title>Mag</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
<<<<<<< HEAD

=======
>>>>>>> 48a82211e5c1af690ef538c69462b713a2539da0
  </head>

  <body>
    <%= yield %>
  </body>
</html>
